<nav class="nav nav-pills flex-column flex-sm-row RespositoryNav">
  <a class="flex-sm-fill text-sm-center nav-link RespositoryAction  btn btn-outline-light "
  data-toggle="modal" data-target="#NewFolderModal" href="#">Add Folder</a>
  <a class="flex-sm-fill text-sm-center nav-link RespositoryAction btn btn-outline-light "
   id="MoveFiles" data-toggle="modal" href="#" >Move</a>
  <a class="flex-sm-fill text-sm-center nav-link RespositoryAction btn btn-outline-light " href="#">Delete</a>
  
</nav>
<!-- New Folder Modal -->
<div class="modal fade" id="NewFolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" align="center">
      <div class="modal-header">
        <h5 class="modal-title Add-Folder-title" id="exampleModalLabel">Add Folder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form  action="<%=move_path%>" method=post >
              <input required name="label" placeholder="Folder Name",
                class="form-control form" >



                <input type="submit" value='Add Folder' id="AddFolderBtn"  class="button btn btn-dark"  >
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>    

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Move Modal -->
<div class="modal fade" id="MoveModal" tabindex="-1" role="dialog" aria-labelledby="MoveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" align="center">
      <div class="modal-header">
        <h5 class="modal-title Add-Folder-title" id="MoveModalLabel">Move Links</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form name="MoveForm" method="post">
                  



            <input type="submit" value='Move Links' id="AddFolderBtn"  class="button btn btn-dark"  >
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>    
             <div class="hidden" id="data">
             </div>     
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%
url=request.original_fullpath
ordre=0;
target="<select class='form-control form' name='target'>"
%>

<%=params%>

<div class="RespositoryList"> 
    <form >

<%


if(url=="/move") #we're inside root 
    respositories=Respository.all
    respositories.each do |respository| 
    label=respository.label 
    respository_id=respository.id 
    path=move_path+"?"+respository_id.to_s
        if (label!="") #if the folder is different than root then display    
        %>  <a class="RespositoryFolder" href="<%=path%>">
                <div class="FolderDiv">  
                <img  src="<%=request.base_url%>/assets/folder_icon.jpg" class="Respository" width=23 height=16>
                <b><%=label%></b>
                </div>
            </a>
        <br>



        <%
        target+="<option value='"+respository_id.to_s+"'>"+label +"</option>"
        end #end if        
    end     # end for each
    %>


      <%
      links=Site.all.where(respository_id:1)
      links.each do |site|
      ordre+=1
      site_id=site.id
      %>
      <input type="checkbox" name="link[<%=ordre%>]" value="<%=site_id%>" >
      
      <%=site.nom%>
      <br>
      <%
      end #end for each
      %>

<%    
else # We are inside a folder 
    target+="<option value='1' > Root </option>"
    index=url.index '?'
    url=url[index+1,url.length]
    #decoded =url  
        #begin
        #decoded = URI.decode(decoded) 
        #end while(decoded != URI.decode(decoded)  )
    id_respository=url.to_i
      if(id_respository==1) # if we're at root
      %>
      <script>
        location.href='<%=move_path%>'
      </script>  
      <%end  
    label=Respository.find(id_respository).label
%>
        <a href="<%=move_path%>" class="ReturnToRoot" ><img src="<%=request.base_url%>/assets/return_to_root.png" id="RootBtn"> 
        Return to Root
        </a>
        

        
        
        <div class="FolderDiv">  
        <img  src="<%=request.base_url%>/assets/folder_icon.jpg" class="Respository" width=23 height=16>
        <b><%=label%></b>
        </div>
    <br>
    <div class="InsideFolder2">
        <form name="MoveForm" method="post">
        
        <%
        links=Site.where(respository_id:id_respository)
            links.each do |site|
            link=site.nom     
            ordre+=1
            site_id=site.id
            %>
            <input type="checkbox" name="link[<%=ordre%>]" value="<%=site_id%>" >
            <%=link%>        
            <br>        
            <%
            end #end for each   
        respositories=Respository.having("id!=1 AND id!=#{id_respository}").group('id')
            respositories.each do |folder|
             label=folder.label  
             respository_id=folder.id 
             target+="<option value='"+respository_id.to_s+"'>"+label+" </option>"


            end #end for each  
        %>
    </div> 
<%        
end # end if   
%>       
        <%if (ordre==0) #ordre==0 // there are no files 
        %> 
          <script>
          document.getElementById('MoveFiles').classList+="d-none"
          </script>
        <%end # end if 
        target+="</select>"
        %>
        

        
    
    
    
    
    
    
    </form>

</div>
<script>
MoveForm=document.forms['MoveForm'];
MoveForminnerHTML=MoveForm.innerHTML
MoveForm.innerHTML="<%=raw target%><input type=\"hidden\" value=\"<%=ordre%>\" name=ordre>"+MoveForminnerHTML;
Data=document.getElementById('data');
document.getElementById('MoveFiles').onclick=function()
{
  forms = document.forms;
  length = forms.length ;
  form=forms[length-1] ;
  inputs=form.getElementsByTagName('input');
  length=inputs.length;
  i=length-1;
  checkedNumber=0;
  for(j=0;j<i+1;j++)
  {
  checkbox=inputs[j]
  if(checkbox.checked)
    {
    name=checkbox.name;
    value=checkbox.value;
    Data.innerHTML+="<input type='hidden' value='"+value+"' name='" +name +"' >" ;  
    checkedNumber++;
    }
  }
  if(checkedNumber==0)
  {
    alert('You need to check at least one link in order to move it');
  }
  else
  {
    $('#MoveModal').modal('show');

  }
}
</script>