<%= render file: 'app/views/sites/connexion', layout: false %>

        
        
        
        # do the next thing
         

      
<%
if ($e!="")
%>
 <h1 class='Connexion_Problem'>Connection State : <%=$e%></h1>
<%else%>
  
  <%= form_with model: @site do |form| %>
    <%= form.text_field :nom, placeholder: "Link Name",
    class:"form-control linkForm app input_new1" %>
    <%= form.text_field :url, placeholder: "URL",
    class:"form-control linkForm app input_new2" %>

    <%= form.submit 'ADD' , class:"button btn btn-dark", id: "add" %>
  <% end %>

<%end%>