

<%
moveUrl=move_path
url=request.original_fullpath # if in root  , url == delete 
insideRoot=true
unless(url=="/delete" ) #we're inside a folder
index=url.index '?'
url=url[index+1,url.length]
moveUrl+='?'+url 
insideRoot=false 
end
 length=Site.all.length+Respository.all.length
  if(length==0) # if there's no file & there's no folder 
  %>
    <script>
    location.href="<%=root_path%>";

    </script>
  <%
  end # end if length==0 
length=0
linkNumber=0;
respositoryNumber=0

%>
<nav class="nav nav-pills flex-column flex-sm-row RespositoryNav">
  <a class="flex-sm-fill text-sm-center nav-link RespositoryAction  btn btn-outline-dark ModifyRespositoryNav "
   href="<%=moveUrl%>"><font 
  class='InsideNavAction' >Modify Respository</font>
  <a class="flex-sm-fill text-sm-center nav-link RespositoryAction btn btn-outline-dark ModifyRespositoryNav " 
  data-toggle="modal" href="#"><font 
  class='InsideNavAction' id="DeleteAction"   >Delete</font></a>
  
</nav>
<div class="RespositoryList"> 

  <form name="SuperDeleteForm" class="SuperDeleteForm ActionForm" method="post" >
<%
if (insideRoot)
  respositories=Respository.having('id!=1').group('id')
  respositories.each do |folder|
    respositoryNumber+=1
    label=folder.label 
    respository_id=folder.id 
    path=delete_path+"?"+respository_id.to_s
    %>
    <input type="checkbox" class="DeleteFolder" name="Respository[<%=respositoryNumber%>]" value="<%=respository_id%>" >
    
    <a class="RespositoryFolder" href="<%=path%>">
      
    <div class="FolderDiv DeleteFolderDiv">  
      <img  src="<%=request.base_url%>/assets/folder_icon.jpg" class="Respository" width=23 height=16>
      <b><%=label%></b>
      </div>
    </a>
            


    <%
  end #end for each , displayed folders 
  links=Site.where(respository_id:1)
    links.each do |site|
     linkNumber+=1 
      label=site.nom
      site_id=site.id
      %>
      <br>
      <input type="checkbox" name="link[<%=linkNumber%>]" value="<%=site_id%>" >
      <%=label%>
      
      <%
    end # end for each , displayed Sites  
else # inside Folder
  respository_id=url.to_i
  folder =Respository.find(respository_id)
  label=folder.label
  respositoryNumber=1
    if(respository_id==1) # if we're at root
  %>

    <script>
          location.href='<%=delete_path%>'
    </script>  
      <%end #end if%>
 <div class="InsideFolderDelete">
    <a href="<%=delete_path%>" class="ReturnToRoot" ><img src="<%=request.base_url%>/assets/return1.png" id="RootBtn"> 
            Return to Root
    </a>
      <div class="FolderDiv">  
      <input type="checkbox" id="DeleteFolder" name="Respository[1]" value="<%=respository_id%>" >
        
      <img  src="<%=request.base_url%>/assets/folder_icon.jpg" class="Respository" width=23 height=16>
        <b><%=label%></b>
      </div>
    <br>
    <%
    links=Site.where(respository_id:respository_id)
      links.each do |site|
        linkNumber+=1 
        label=site.nom
        site_id=site.id
        %>
        <div class="InsideFolder2">
          <input type="checkbox" name="link[<%=linkNumber%>]" value="<%=site_id%>" >

          <%=label%>
        </div>

        <%  
      end #end for each
    length=linkNumber+respositoryNumber

    %>
 </div>
<script>
document.getElementById('DeleteFolder').onclick=function()
{
  i=1;
  
  length=<%=length%>-1;
  forms=document.forms
  form=forms['SuperDeleteForm'];
  inputs=form.getElementsByTagName('input');
  FolderCheckbox=inputs[0];
  FolderChecked=FolderCheckbox.checked
    if(FolderChecked)
  { 
      for(i;i<=length;i++)
      {
      checkbox=inputs[i];
      isChecked=checkbox.checked
        if(!isChecked)
        {
          checkbox.click();
        } // end if
      } //end for  
  }//end if
  else
  {
   form.reset(); 
  }  

}//end function
</script>
<%
end #end if Inside Root 

%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>    
</form>
</div>

<div class="d-none" id="container"></div>

<%data=[43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]%>

<script>
chart=Highcharts.chart('container', {
    chart: {
        backgroundColor: 'transparent'
    }
    ,
    title: {
        text: 'Number of Notifications By Days'
    },

    subtitle: {
        text: 'Source: Axian White Team application'
    },

    yAxis: {
        title: {
            text: 'Number of Notifications'
        }
    },
    xAxis: {
      title:{
       text : 'Number of days' 
      } ,
      categories : ['1','2','3','4','5','6','7','8'] 


    }
    ,
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            } , 
            

        } ,
    },

    series: [
    <%
    for i in 1..5 do
    data.clear
      for j in 0..7 do
        
        data[j]=(rand*i+6).to_i 
        if(data[j]<data[j-1]&&j>0) 
        
        data[j]=data.max 
        end #end if 
        if(data[j]>=10&&data[j-1]>=10)
        data[j]=rand(i)+6.to_i  
        end #end if 
      end # end for j
      %>
     { name : 'data <%=i%>' ,
        data : <%=data%>  
    } ,  
    <%
    end%>
     ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
chart.setSize(450, 250, doAnimation =
true);


</script>
<style>
#container
{
position: absolute;
overflow: hidden;
top: 13%;
left: 20%;

}
</style>

<%=params%>
<script>

$("#DeleteAction").on('click', function(){Submit()})


function Submit()
{
length=<%=length%>-1;
forms=document.forms
form=forms['SuperDeleteForm'];
inputs=form.getElementsByTagName('input');
checkboxChecked=false; 
  for(i=0;i<=length;i++)
  {
   checkbox=inputs[i]
    if(checkbox.checked)
    {
     checkboxChecked=true;
     break; 
    } //end if 
  } //end for
 if(checkboxChecked)
 {
  form.submit() ;
 }  
  else
 {
   alert('you nigga need to check some motherfucking Element');
 } //end if   
}//end function
</script>