<%  require 'open-uri' 
now=Time.now 
condition=(defined?($time_to_alert)==nil)  
  if(condition)
  $time_to_alert=Time.now+5.seconds
  end  
  x=0
  if(now>=$time_to_alert&&x!=0)
  %>
  <script>
  alert("5 seconds have passed")  ;
  </script>
  <%
  end  
%>



<%$pageUrl=home1_path%> 
<!DOCTYPE html>
<html>
  <head>
    <title>RorPfe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  <style>
 a:hover
  {
    background-color: 	#a20067;
    box-sizing: border-box;
    color:white;
    vertical-align: middle;
    height: 40px;
    display: inline-block;
    text-decoration:none;
  }
   .button
  {
      border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    -webkit-border-radius: 30px 30px 30px 30px;

  }
  .form 
{
  border-radius:50px 50px;
  width:50%;
}
  .linkForm
  {
  top:3%;	
  width:27%;
  left: 23.5%;
  position: relative;
  display: iniline;
  opacity: 0.7	;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border-color: gray;
  }
.app
{
position:absolute;
top:18%;
left:30%;

}
.input_new2
{
top : +160px ;

}
body
{
  margin:0;
  padding:0;
}

.popover-btn
{
    width:100%;
}

 .popover-header 
{
    opacity:0.7;
    background-color:black;
    max-width:100%;
    max-height:18%;
    text-align:center;
    color:lightgray;
    position:relative;
    bottom:0px;
    
}

 .popover  
{
max-width:100%;
height:32%;
background-color:lightgray;
opacity:0.9;
position:relative;

}


.Flash 
{
    top: 0;
    position: absolute;
    left: 241px;
    height: 40px;
    text-align: center;
    width: 81.48%;
    opacity: 0.7;
    background-color: black;
}
.alert-info
{
  color: #add9e0;
}
.RespositoryFolder 
{
color:black,


}

#RootBtn
{

height: 16px;
width: 16px;
top: -1.5px;
position: relative;
}

.ReturnToRoot:hover
{
height: 24px;
background-color: transparent;
position: relative;
bottom: 0px;
display: block;
color: #2b2929;
}

#BGapp
  {


    background-image: url(/assets/app.jpg);
    background-size: 100%;
    height: 100%;
    width:100%
  }
.SuperDeleteForm
{
position: relative;
top:-3%;
}
</style>
  <body >
    <%$pageUrl=request.original_fullpath 
    condition=!($pageUrl.include? "sign")#Sign in or Sign up page
    condition2=!($pageUrl.include? "home")
    #if user not connected & page == application page , redirect to home page
      if(condition&& current_user.nil?&&condition2)
      $pageUrl=home1_path
        %>
      <script>
      location.href="<%=$pageUrl%>";
      </script>
      <%
      end # end if (condition && curent_user.nil?&&condition2)
    %>
    
    <!--Flash Messages -->
      <% flash.each do |name,message| %>
      <%= content_tag(:div , message , class:"alert alert-info #{name} Flash" ) %>
      <%end # end flash for each%>
    <%
    location=request.original_fullpath
    #condition stands for user connected & page = outer application page
    condition=(!current_user.nil?) &&( location.include? "home" )
    condition0=location.include? "sign" 
    if(condition0)
    $pageUrl=home1_path  
    end #end condition0 
    #if condition redirect to application page
    if(condition)
    %>
    <script>
      location.href="<%=root_path%>"
      </script>
    
    <%
    elsif(current_user.nil?)
     #else if user isn't connected display the header navbar
      %>
      <ul id=nabar style="" class="nav flex-column flex-sm-row" id="pills-tab" role="tablist">
            <li class="nav-item flex-sm-fill text-sm-center ">
                <a class=" nav-link active button" id="pills-home-tab"
                 href="<%=home1_path%>"  role="tab"
                    aria-selected="true">
                  <font class="NavButton" >
                    Web Scraper</font></a>
            </li>
            <li class="nav-item flex-sm-fill text-sm-center  ">
                <a class="nav-link button" id="pills-profile-tab" href='<%=home2_path%>' role="tab"
                    aria-controls="pills-profile">
                    <font class="NavButton" >
                    Company</font></a>
            </li>
            <li class="nav-item flex-sm-fill text-sm-center ">
                <a class="nav-link button" id="pills-contact-tab" 
                href="<%=home3_path%>" role="tab">
              <font class="NavButton" >
                Tutorial</font></a>
            </li>
            <li class="nav-item flex-sm-fill text-sm-center ">
                <a class="nav-link button" id="pills-contact-tab" href="<%=home4_path%>" role="tab"
                    aria-selected="false">
                      <font class="NavButton" >
                    Contact</font></a>
            </li>
    </ul>
    <!-- Button trigger modal -->

    <button type="button" onclick="location.href='<%=signin_path%>'"  id="login" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        LOGIN
    </button>
    
    
    
    
    
    
    
    
    
    
    <%
    end #end if condition
    unless (  current_user.nil?) #if user is connected then display app
    %>
    
    <div id="BGapp">
      <div id="usernav"><font id="usernavtext"><%="welcome "+current_user[:email]%></font>
      </div>
      <%= link_to "LOG OUT", logout_path , method: :delete,
        class: "button btn btn-secondary" , id:"logout" %>
      <div class="d-none"> 
            <div id="header" align='center' style="middle-align:center" >
              <h2 style="position:relative;bottom:15px;left:0%;">
              Actions
              </h2>
            </div>
          </div> 
        <div class="siteNav">
          <% 
          @sites= Site.order(:respository_id)

          popover_index=0
          relativePosition=0
          directories="" 

          unless(current_user.nil?)
            user_id=current_user[:id]
            @sites.each do |site|
              respository_id=site.respository_id
              queryLength=Respository.where(id:respository_id).length
              validQuery=(queryLength!=0)
              if(site[:user_id]==user_id &&validQuery)  
              popover_index+=1
              @site = site 
              
              
              
              @respository=Respository.find(respository_id).label
              #@respository=site.Respository;
              @FolderClass="" 
              distinct = directories.index @respository
              @path=move_path
              if(@respository!="") # respository!=""
              @FolderClass="InsideFolder"  
              @path+="?"+respository_id.to_s
              end  #end if @respository!=''
              notificationNumber=site.Notification_Number.to_i
              notification=""
              unless(notificationNumber==0)
               notification="<strong class='Notification navlink '>"+notificationNumber.to_s+"</strong>" 
                if(@respository!="")
                @FolderClass="InsideFolderWithNotification"
                else # we're inside Root 
                @FolderClass="RootNotification"  
                end #end if @respository!=""
              end  #end unless notificationNumber==0
              if(@respository!=""&&distinct==nil)
                
                directories+=@respository
                relativePosition+=22
              %>
              <a class="SiteNavFolder" href="<%=@path%>">
                <div class="FolderDiv">  
                <img  src="<%=request.base_url%>/assets/folder_icon.jpg" class="Respository" width=23 height=16>
                <b><%=@respository%></b>
                </div>
              </a>
              <br>
              
              <%
              end  #end if @respository!=""&&distinct==nil
              %>
              <style>  
               
                #popover-content<%=popover_index%>
                {
                    
                position:relative;
                top:-4px;
                    
                    

                }
                #popover<%=popover_index%>
                {
                
                top:<%=(popover_index-1)*24+3+relativePosition%>px;
                left:200px;
                height:20px;


                }




              </style>  
               <div class="d-none">
                  <div id="popover-content<%=popover_index%>" align=center  >
                          
                    
                  <%= button_to  'Update Link', edit_site_path(site), method: 'get',
                  style:"position:relative;",class:"popover-btn btn btn-secondary"
                  %>
                  
                  
                  
                  
                      
                      
                          <button  id="Scrap<%=popover_index%>"  style="height:20px" type="button" 
                          class="popover-btn btn btn-secondary">
                              <font style="position:relative;top:-8px">
                                  Scrap Website 
                                  </font>
                          </button>
                      <br>
                    
                          <button  id="Respository<%=popover_index%>"  style="height:20px" type="button" 
                          class="popover-btn btn btn-secondary">
                              <font style="position:relative;top:-8px">
                                  Modify Respository
                                  </font>
                          </button>
                      <br>
                          
                                  <button style="height:20px" type="button" class="popover-btn btn btn-secondary">
                                      <font style="position:relative;top:-8px">
                                      Set up Standby
                                      </font>
                                  </button>
                              <br>
                                  <%= button_to 'Delete Link', site_path(site), method: 'delete',
                                  data: { confirm: "Do You Really Want to delete the link of #{site[:nom]} ?" },
                                  class:"popover-btn btn btn-secondary"   %>

                                 
                          
                  </div>
              </div>
                  <div class="navDiv">                 
                  <%=raw notification%>
                  <%= link_to site.nom, site_path(site) , class:"navlink "+@FolderClass+"" %>
                  </div>                                      
                            <button data-placement="right" data-toggle="popover" data-container="body"
                                type="button" data-html="true" style="position:absolute"  id="popover<%=popover_index%>" 
                                class=" btn btn-secondary" 
                                style="height:20px;position:relative;top:0px">
                                    <font style="position:relative;top:-8px">  +  
                                    </font>
                             </button>
                  <br>
              
              <script>
              $("#popover<%=popover_index%>").popover({
                  html: true, 
                  title : $('#header'),
                content: $('#popover-content<%=popover_index%>'),
                      
              });                     

              $(document).on
              ('blur','.popover', 
              function()
              {
                  
              $(this).popover('hide');
                  
                                

              }
              );


              document.getElementById('Scrap<%=popover_index%>').onclick=function()
              {
                      
                
              
              location.href='<%=scrap_path+'?'+site.id.to_s%>';






              }
              document.getElementById('Respository<%=popover_index%>').onclick=function()
              {
               location.href="<%=@path%>";

              }

    
              </script>    
              

    <%end #if(site[:user_id]==user_id &&validQuery)  %>
            
          
              <%end #end sites.each%>
          

            <% end #end unless(current_user.nil?) %>
          <%end # end unless (  current_user.nil?) %>
              
        </div>        <!-- <- siteNav -->
    </div> <!-- <- BGapp -->
    <%= yield %>

  </body>
  
  </html>
  <%$url=request.original_url%>
<%="now : "+now.to_s+" | Time to alert "+$time_to_alert.to_s%>
<%
sites=Site.all
sitesLength=sites.length
sitesLengthCounter=0
#i=0  
z="<br><br>"  
@alert=""

  sites.each do  |site| 
  url=site.url   
  site_id=site.id 
    begin
    $e=""#connected
    $content = Nokogiri::HTML(open(url))
    rescue Exception => $e
    end  #end nokogiri content extraction     
    if ($e!="") #if there's a connection problem , content cannot be loaded 
    error="<h4>There 's a connection problem related to '#{url}'<br> #{$e} </h4>"  
    %>
    <%= raw error%>
    <%
    else #if there's no problem with connection
    #i+=1  
    @fragments=Fragment.where(site_id:site_id)
    fragmentsLength=@fragments.length
    notificationNumber=0
    $content=$content.to_s  
      @fragments.each do |fragment|
      fragmentContent=fragment.content.to_s
      index = $content.index fragmentContent  
      @contentLength=$content.length 
      @oldFragmentLength=fragmentContent.length

        if(index==nil)
          if(@contentLength>@oldFragmentLength)
          length=@oldFragmentLength  
          else
          length=@oldFragmentLength  
          end #end if @contentLength>@oldFragmentLength
          for i in 0..length-1 do 
            
          end  #end for
        notificationNumber+=1;  
        end  #end if index==nil  

      #i+=1
        
      end #end fragments for each 
      oldNotificationNumber=site.Notification_Number.to_i
      if(notificationNumber!=0)
      Fragment.where(site_id:site_id).delete_all
      Fragment.create(site_id:site_id, 
      :length => 1 , :ordre => 1   , :content => $content )
        if(notificationNumber>oldNotificationNumber)  
        site.update(Notification_Number:notificationNumber)
        end # if notificationNumber>oldNotificationNumber    

      end  # end if notificationNumber !=0
    nom=site.nom 
    sitesLengthCounter+=1
      unless(sitesLengthCounter==sitesLength)
      @ligne="<hr>"
      else
      @ligne=""  
      end  # end unless sitesLengthCounter==sitesLength
    z+="site '#{nom}' has #{notificationNumber.to_s} notifications | 
    content length : #{@contentLength.to_s} | old Fragment Length : #{@oldFragmentLength.to_s}<br> #{@ligne}"
    end #end if($e!="")

  
  end #end sites for each
%>


<%=raw z%>
